@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

.about-para {
  margin: 2% 10%;
  width: 35%;
  background: transparent;
  height: 30.5%;
  border-radius: 25px;
  background-color: rgba(233, 225, 249, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  position: absolute;
  top: 14%;
  left: -5%;
  padding: 1%;
  padding-bottom: 19.5%;
  text-align: left;
  font-size: 25px;
  font-family: "Quicksand", sans-serif !important;
  font-weight: 400;
  color: #333;
  margin-bottom: 1rem;
  z-index: -1;
}

.about-bg {
  z-index: -1;
  position: absolute;
  top: -2%;
  left: 41%;
  height: 98.5%;
}

.about-title {
  font-size: 60px;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  color: #333;
  position: absolute;
  background: transparent;
  left: 8%;
  top: 22%;
}
