@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  overflow-x: hidden;
  background-color: #faf2ff;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #ec77ab 0%, #7873f5 100%);
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

.navbar-container {
  border: 1px solid transparent;
  transform: translate(1%, 10%);
  border-radius: 20px;
  height: 80px;
  width: 98%;
  position: fixed;
  /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2); */
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 3;
}

.slogan {
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: black;
  width: fit-content;
  margin: 0;
  padding: 0;
  transform: translate(9%, 0);
  line-height: 80px;
  background: transparent;
  text-decoration: none;
}

.slogan:hover {
  cursor: pointer;
}

.about {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  position: absolute;
  right: 26%;
  top: 35%;
  color: black;
  margin: 0;
  padding: 0;
  background: transparent;
}

.about:hover {
  color: #6d41cd;
  cursor: pointer;
  /* text-shadow: 0 0 2px 0 rgba(0, 0, 0, 1); */
}

.contact {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  position: absolute;
  right: 18%;
  top: 35%;
  color: black;
  margin: 0;
  padding: 0;
  background: transparent;
}

.contact:hover {
  color: #6d41cd;
  cursor: pointer;
}

.connect-wallet-1:hover {
  cursor: pointer;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
}

.connect-wallet {
  width: 12vw;
  height: 2.2vw;
  justify-content: end !important;
  border-radius: 10px;
  font-size: 1.25vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  position: absolute;
  background-color: #835adb83;
  right: 2vw;
  top: 12%;
  color: rgb(14, 14, 14);
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.fox {
  position: absolute;
  top: 21px;
  left: 83.9vw;
  width: 35px;
  background-color: transparent;
}

.connect-wallet:hover {
  background-color: #6730de83;
  cursor: pointer;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
}

.user {
  position: absolute;
  top: 26px;
  left: 85.4vw;
  width: 30px;
  background-color: transparent;
}

.nothing {
  visibility: hidden;
}

.connect-wallet p {
  background: transparent;
  transform: translate(16%, 15%);
}

.connect-wallet-1 p {
  background: transparent;
  transform: translate(5%, 40%);
}

@media only screen and (max-width: 1820px) {
  .fox{
    visibility: hidden;
  }

  .connect-wallet{
    font-size: 1.4vw;
    transform: translate(1%, 10%);
  }

  .connect-wallet p{
    font-size: 1.4vw;
    transform: translate(1%, 10%);
  }
}

@media only screen and (max-width: 1720px) {
  .fox{
    visibility: hidden;
  }

  .connect-wallet{
    font-size: 1.4vw;
    transform: translate(1%, 10%);
  }

  .connect-wallet p{
    font-size: 1.4vw;
    transform: translate(1%, 10%);
  }
}

@media only screen and (max-width: 1440px) {
  .fox{
    visibility: hidden;
  }

  .connect-wallet{
    font-size: 1.4vw;
    transform: translate(2%, 20%);
  }

  .connect-wallet p{
    font-size: 1.4vw;
    transform: translate(1%, 10%);
  }
}


/* .user-container {
  width: 12vw;
  height: 2.2vw;
  justify-content: end !important;
  border-radius: 10px;
  font-size: 1.25vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  position: absolute;
  background-color: #835adb83;
  right: 2vw;
  top: 12%;
  color: rgb(14, 14, 14);
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  background-image: url(../assets/user.png);
  background-size: 40px;
  background-position: 10px;
  background-repeat: no-repeat;
}

.user-container:hover {
  background-color: #6730de83;
  cursor: pointer;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
}

.user-container p {
  background: transparent;
  transform: translate(33%, 15%);
}

.profile-image{
    height: 90%;
    width: 90%;
    align-items: center;
    justify-content: center;
    padding: 5%;
    opacity: 0.85;
    object-fit: cover;
    background: transparent;
} */