.user-container {
  width: 12vw;
  height: 2.2vw;
  justify-content: end !important;
  border-radius: 10px;
  font-size: 1.25vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  position: absolute;
  background-color: #835adb83;
  right: 2vw;
  top: 12%;
  color: rgb(14, 14, 14);
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  background-image: url(../assets/user.png);
  background-size: 40px;
  background-position: 10px;
  background-repeat: no-repeat;
  z-index: 1;
}

.user-container:hover {
  background-color: #6730de83;
  cursor: pointer;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
}

.user-container p {
  background: transparent;
  transform: translate(33%, 15%);
}

.profile-page {
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.profile-container {
  width: 12vw;
  height: 2.2vw;
}

.user-container-profile {
  z-index: 2;
}

.user-bg-image{
  height: 40vh;
  width: 101vw;
  opacity: 0.65;
  z-index: -5;
  margin: -1%;
  padding-bottom: -1%;
}

.user-image{
  height: 20vh;
  width: 20vh;
  border-radius: 50%;
  position: absolute;
  top: 20%;
  left: 5%;
  z-index: 1;
  background: #faf2ff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.user-name-profile{
  font-size: 2.5vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: #333;
  position: absolute;
  background: transparent;
  left: 4%;
  top: 42%;
  z-index: 1;
}

.user-address-profile{
  font-size: 1vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: #333;
  position: absolute;
  background: transparent;
  left: 4%;
  top: 50%;
  z-index: 1;
}

.user-balance-profile{
  font-size: 1vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: #333;
  position: absolute;
  background: transparent;
  left: 4%;
  top: 55%;
  z-index: 1;
}

.user-did-profile{
  font-size: 1vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: #333;
  position: absolute;
  background: transparent;
  left: 4%;
  top: 60%;
  z-index: 1;
}

.user-order-history{
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: #333;
  position: absolute;
  background: transparent;
  left: 4%;
  top: 65%;
  z-index: 1;
}

.user-order-history h2{
  margin-bottom: 1vw;
  font-size: 1.6vw;
  padding:  0.1vw 1vw;
  border-radius: 10px;
  height: max-content;
  width: max-content;
  background-color: #e6d2eb;
  font-weight: 300;
}

.order-details{
  display: flex;
  font-size: 1.2vw;
  width: 30vw;
  flex-direction: row;
  justify-content: space-around;
  padding-right: 15%;
  margin-bottom: 0.2vw;}